:root{
	--color: #27c7ab;
	--color2: #17b79b;
}

*{
	box-sizing: border-box;
}

body{
	font-family: 'Raleway', sans-serif;
}

.visuallyhidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
	white-space: nowrap; 
}

.btn{
	background: var(--color);
	color:#fff;
	text-transform: uppercase;
	border-radius: 8px;
	border: none;
	padding: 10px 30px;
	display: inline-block;
	cursor: pointer;
	transition: 0.3s background;	
}

.btn:hover{
	background: var(--color2);
	
}
.row{
	display: flex;
}
.row .col{
	flex-grow:1;
}
.row .col + .col{
	margin-left: 28px;
}


.container{
	max-width: 1055px;
	margin: 0 auto;
	padding-left: 15px;
	padding-right: 15px;
}
.section-title{
	text-transform: uppercase;
	color: #575757;
	font-size: 22px;
	font-weight: normal;
	position: relative;
	padding: 15px 0;
}
.section-title:before{
	content:"";
	background: var(--color);
	display: block;
	width: 320px;
	height: 10px;
	position: absolute;
	left:0;
	bottom:0;
}
.page-header{
	background: #000;
	height: 40px;

}
.page-logo{
	font-size: 14px ;
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: none;
	color: #fff;
}
.page-logo span{
	color: var(--color);
}

.page-header .container{
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 100%;
}
.page-nav-list{
	list-style: none;
	display: flex;
	justify-content: flex-end;
	margin: 0;
	padding: 0;
}
.page-nav-list-el{
	position: relative;
}

.page-nav-list-link{
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: bold;
	padding: 0 15px;
	display: block;
	line-height: 40px;
	transition: color 0.3s;
	
}
.page-nav-list-link:hover{
	color: var(--color);
}
.page-nav-sublist{
	list-style: none;
	position: absolute;
	top: 100%;
	left: 50%;
	transform: translate(-50%,0);
	margin: 0;
	padding: 20px;
	background: #000;
	opacity: 0;
	visibility: hidden;
	transition: 0.6s opacity, 0.6s top;
	z-index: 2;
}
.page-nav-sublist:before{
	content:"";
	/*display: block;
	width: 20px;
	height: 20px;
	background:#000;
	position: absolute;
	left: 50%;
	top:-10px;
	transform: translate(-50%,0) rotate(45deg);*/
	width: 0;
	height: 0;
	border: 10px solid transparent;
	display: block;
	border-bottom-color: #000;
	position: absolute;
	left: 50%;
	top: -20px;
	transform: translate(-50%,0);
}
.page-nav-sublist:after{
	content: "";
	background: transparent;
	display: block;
	height: 15px;
	width: 100%;
	position: absolute;
	left: 0;
	top: -15px;
}
.page-nav-sublist-el{}
.page-nav-sublist-link{
	color: #fff;
	text-decoration: none;
	margin: 5px 0;
	display: block;
	transition: color 0.3s;
}
.page-nav-sublist-link:hover{
	color: var(--color);
}
.page-nav-list-el:hover .page-nav-sublist{
	opacity: 1;
	visibility: visible;
	top: calc(100% + 15px);
}

.banner-bg{
	background: linear-gradient(#fff, #ddd);

}
.banner{
	height: 500px;	
	display: flex;

}
.banner-prev, 
.banner-next{
	width: 100px;
	color: var(--color);
	font-size: 80px;
	border: 0;
	background: none;
	cursor: pointer;
	outline: none;
}
.banner-next{
	order: 1;
}
.banner-slides{
	flex-grow: 1;
	position: relative;
}
.banner-slide{
	position: absolute;
	left: 0;
	right:0;
	width: 100%;
	height: 100%;
	opacity: 0;
	transition: 1s opacity;
	display: flex;
	justify-content: center;
	align-items: center;
}

.banner-slide-active{
	z-index: 1;
	opacity: 1;
}
.banner-slide-img{
	flex-shrink: 0;
}
.banner-slide-text{
	text-align: center;
	padding: 20px;
}
.banner-slide-title{
	text-transform: uppercase;
	font-size: 40px;
	font-weight: normal;
	margin-top: 0px;
	margin-bottom: 30px;
}
.banner-slide-title span{
	font-weight: bold;
	color: var(--color);
}
.banner-slide-content{
	font-size: 15px;
	line-height: 1.5;
	padding-left: 30px;
	padding-right: 30px;
}
.banner-btn{
	font-size: 25px;
	margin-top: 20px;
}

.form{
	display: flex;
	justify-content: space-between;
}
.form-left,
.footer-left{
	width: 630px;
}
.form-right,
.footer-right{
	width:340px;
}
.form-row{
	margin-bottom:26px;
}
.form-img{
	height: 200px;
	background: url("../images/red_chair.png");
	background-repeat: no-repeat;
	background-position: center top;
	margin-top: -30px;
}
.form-control{
	height: 62px;
	border: 1px solid var(--color);
	width: 100%;
	font-size: 40px;
	font-weight: 100;
	padding: 0 15px;
	outline: none;
}
.form-control:focus{
	border: 1px solid var(--color);
	box-shadow:inset 0 0 0 1px var(--color);
}
.form-control::placeholder{
	color:#bbb;

}

textarea.form-control{
	height: 190px;
	resize: none;
	padding: 15px;
}
.form-checkbox{
	display: flex;
	cursor: pointer;
	position: relative;
	align-items: center;
	margin:35px 0;
}
.form-checkbox-input{
	width: 50px;
	height: 50px;
	border: 1px solid var(--color);
	position: absolute;
	left: 0;
	top: 0;
	opacity: 0;
	cursor:pointer;
}
.form-checkbox-mark{
	width: 50px;
	height: 50px;
	border: 1px solid var(--color);
	display: block;
	flex-shrink: 0;
}
.form-checkbox-input:checked + .form-checkbox-mark{
	box-shadow:inset 0 0 0 1px var(--color);
	background:url("../images/form_ok.jpg") center center no-repeat;
}
.form-checkbox-text{
	font-size:18px;
	color:#bbb;
	margin-left:10px;
}

.btn-submit{
	width:100%;
	height: 75px;
	font-size: 35px;
	font-weight: bold;
}
/*.form-checkbox-btn{
	width: 100%;
	
	text-align: center;;
	color:#fff;
	padding: 10px 0px;
	
	font-size: 20px;
	font-weight: bold;
}*/
.price-list{
	background:#f1f1f1;
	overflow: hidden;/*naprawa dziury od h2*/
	padding: 20px 0 60px 0;
}
.products{
	padding: 25px 0px 95px 0px;
}
.product-image{
	max-width: 100%;	
}
.image-box{
	position:relative;
	width: 330px;
}
.product-name{
	position: absolute;
	bottom: 20px;
	background: rgba(255,255,255,0.4);
	width: 100%;
	padding-left: 15px;
}
.product-name a{
	color: #fff;
}
.box-title{
	color:#000;
	padding: 15px 15px 25px 0px;
	margin:0px;
	font-size:15px;
	position:relative;
}
.box-title:before{
	content: "";
	display: block;
	height: 8px;
	width: 140px;
	background: var(--color);
	position: absolute;
	bottom: 15px;
}

.box-title span{
	text-transform: uppercase;
}
.text-box{
	border: 1px solid #ddd;
	padding: 20px;
	font-size: 14px;
	width: 330px;
}

.price-box{
	border: 2px solid #ddd;
	background: #f9f9f9;
	height: 100%;
	position: relative;
	padding-bottom: 100px;
	margin-top: 50px;
}
.price-box:before{
	content:"";
	width:55px;
	height: 55px;
	display: block;
	position: absolute;
	top:-40px;
	left: 50%;
	transform: translate(-50%,0);
	border: 2px solid #ddd;
	border-radius: 50%;
	background: #fff;
}
.price-box:after{
	content:"";
	width:25px;
	height: 25px;
	display: block;
	position: absolute;
	top:-25px;
	left: 50%;
	transform: translate(-50%,0);
	border: 2px solid #ddd;
	border-radius: 50%;
	background: #ddd;
}

.price-box-title{
	text-align: center;
	text-transform: uppercase;
	padding: 40px 0px 30px 0px;
	font-size: 20px;
	color: var(--color);
	font-weight: 500px;
}
.price-box-price{
	width: 130px;
	height: 130px;
	border-radius: 50%;
	border: 2px solid #ddd;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: #c2c2c2;
	margin-bottom: 30px;
	background: #fff;
}
.price-value{
	font-size: 45px;
	font-weight: bold;
	position: relative;

}
.price-value span{
	font-size: 12px;
	position: absolute;
	right: -20px;
	font-size: 15px;
}
.price-date{
	margin-top: 5px;
	text-transform:uppercase;
	font-weight: bold;
}
.price-box-text{
	padding: 15px 0px;
	text-align: center;
	font-size: 25px;
	color: #939393;
}
.price-box-text:nth-child(2n){
	background:#f1f1f1;
	color: #939393;
}
.price-box-text:nth-child(2n+1){
	background:#e4e4e4;
	color: #9e9e9e;
}
.btn-price{
	position: absolute;
	bottom: 30px;
	left: 50%;
	transform: translate(-50%,0);
}
.price-box-special{
	border-color: var(--color);
	background: var(--color);
}
.price-box-special:before{
	border-color: var(--color);
	background: var(--color);
}
.price-box-special:after{
	background: #fff;
	border-color: #fff;
}
	
.price-box-special .price-box-title{
	color: #fff;
}
.price-box-special .price-box-price{
	color: var(--color);
	border-color:#fff;
}
.price-box-special .btn{
	background: #fff;
	color: var(--color);
}
.price-box-special .price-box-text:nth-child(2n+1){
	background:#fff;
	color: #9e9e9e;
}
.footer{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 50px 0px 50px 0px;
	color: #9b9b9b;
}
.footer-right{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.footer-name{
	text-transform: uppercase;
}
.footer-name span{
	font-weight: bold;
}
